:root {
  --green-principal: #006C00;
  --green-secondary: #008000;
  --yellow-green: #88AA00;
  --grey: #ECECEC;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

/* Modifying container */
.container {
  max-width: 780px;
}


/*************** INDEX **************/
/* Header radio */
.header.radio {
  background-color: #f8f8f8;
  padding: 1rem 0;
}

.img-logo {
  width: 200px;
}

.sm-container a {
  padding: 0 3px;
}

/* Circles */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Play BTN */
.controlsRadio {
  width: 50px;
  height: 50px;
  background-color: var(--green-secondary);
  margin-right: .3rem;
}

.inRadio .controlsRadio {
  width: 5rem;
  height: 5rem;
  margin-right: 1.5rem;
}

.inRadio .controlsRadio img {
  width: 40px;
}

.controlImgRadio {
  width: 25px;
  color: #ffffff;
}

.plaRadioTXT {
  font-size: 12px;
}

.inRadio .plaRadioTXT {
  font-size: 18px;
}

.inRadio h6 {
  margin-bottom: 1rem !important;
}

.inRadio input[type=range] {
  -webkit-appearance: none; 
  width: 100%; 
  background: transparent; 
}

.inRadio input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 10px;
  border-radius: 1px;
  background: var(--green-principal);
  cursor: pointer;
  margin-top: 0px;
}

input[type=range]::-moz-range-thumb {
  height: 8px;
  width: 10px;
  border-radius: 1px;
  background: var(--green-principal);
  cursor: pointer;
  margin-top: 0px;
}

input[type=range]::-ms-thumb {
  height: 8px;
  width: 10px;
  border-radius: 1px;
  background: var(--green-principal);
  cursor: pointer;
  margin-top: 0px; 
}

/* slide */

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--yellow-green);
  border-radius: 4px;
}

#volumenRange {
  width: 64.5px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  margin-left: 0;
  content: '';
  background-color: var(--green-principal);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--yellow-green);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--yellow-green);
  border-radius: 4px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: var(--yellow-green);
  border-radius: 4px;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--yellow-green);
  border-radius: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--yellow-green);
}
input[type=range]::-ms-fill-upper {
  background: var(--yellow-green);
  border-radius: 4px;
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--yellow-green);
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Contact in header */
.headerContact {
  font-size: 12px;
}

.t-green {
  color: var(--green-secondary);
}

/* Social icons */
.sn {
  width: 25px;
  height: 25px;
}

.snLgo {
  width: 12px;
}

.sn.fb {
  background-color: #4267B2;
}

.sn.tt {
  background-color: #1DA1F2;
}

.sn.yt {
  background-color: #FF0000;
}

/* Navbar */
.navbar.radio {
  background-color: var(--green-secondary);
}

.navRadio {
  color: #ffffff;
}

.navRadio.active {
  background-color: var(--green-principal) !important;
}

.navbar.radio .container .nav-pills a {
  font-size: 15px;
}

.navbar.radio .container .nav-pills a:hover {
  color: #ffffff;
}


/* Carousel News */
.newsCarousel.radio {
  padding: 2rem 0;
}

#carouselNewsInfo {
  border-bottom: 5px solid var(--green-principal);
}

.carousel.slide a {
  background-color: #000000;
  padding: .5rem;
}

.carousel.slide .carousel-control-prev {
  right: 42px;
  left: auto;
}

.carousel.slide .carousel-control-next, .carousel-control-prev {
  align-items: flex-start;
  width: auto;
  bottom: auto;
  opacity: 1;
}

.carousel.slide a:hover, .carousel.slide a:active {
  background-color: var(--green-principal);
}

.carousel.slide .carousel-control-prev-icon {
  background-image: url('imgs/back.svg');
}

.carousel.slide .carousel-control-next-icon {
  background-image: url('imgs/next.svg');
}

#carouselNewsInfo .carousel-caption {
  background-color: #000000;
  padding: 30px 1rem 1rem;
  opacity: 0.8;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
}

#carouselNewsInfo .carousel-caption p {
  margin-bottom: 0;
  font-size: 14px;
}

#carouselNewsInfo .newsTag {
  background-color: #1DA1F2;
  position: absolute;
  top: -12px;
  padding: .4rem .6rem;
}

#carouselNewsInfo .newsTag h6 {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}


/* Lo Nuevo Noticias */
.lastNews.radio {
  background-color: var(--green-principal);
  padding: 2rem 0 0;
  margin-bottom: 8rem;
}

.lastNews.radio .newsHeader {
  margin-bottom: 1.5rem;
}

.lastNews.radio .newsHeader .lastNewsBtn {
  background-color: var(--yellow-green);
  border: none;
  padding: .6rem 1rem;
  border-radius: 25px;
  font-size: 14px;
}

.lastNews.radio .container{
  margin-bottom: -7rem;
}

.lastNews.radio .newImgs .col img{
  width: 100%;
  border: 3px solid #ffffff;
  border-radius: 0 !important;
}

.lastNews.radio #lastNewsCarousel {
  padding-bottom: 1rem;
}

.lastNews.radio #lastNewsCarousel .carousel-indicators{
  margin-bottom: 0;
}

.lastNews.radio #lastNewsCarousel li{
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background-color: var(--green-secondary);
}


/* Trending Topics */
.trendingTitle {
  color: var(--green-principal);
  text-transform: uppercase;
}

.titleCaption {
  position: relative;
  margin: 1rem 0;
  padding: 0 .6rem;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  border-left: 5px solid var(--green-principal);
}

.trendingTopics.radio {
  padding: 1rem 0;
}

.row.social .socialItems {
  margin-bottom: .6rem;
}

.wppContainer {
  background-color: var(--green-principal);
  text-align: center;
  padding: 1rem;
}

.socialMsj {
  background-color: var(--yellow-green);
  text-align: left;
  padding: 1rem;
}

.socialMsj h6 {
  font-size: 15px;
}

.wppContainer h4 {
  font-size: 16px;
}

.wppContainer span {
  font-size: 20px;
}

.wppContainer img {
  width: 25px;
}


/* Footer */
footer {
  background-color: var(--grey);
  padding: 1.5rem 1rem;
}

footer .col {
  margin: .3rem 0;
}

footer h6 {
  font-size: 12px;
}

/* Radio Player */
#radioPlayer {
  width: 100%;
  height: auto;
  background-color: var(--grey);
  padding: 1rem 3rem;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}

/*************** RADIO PAGE **************/
/* Radio header */
.radioTitle {
  padding: 1rem 0;
}

.radioTitle .title {
  color: var(--green-principal);
  font-size: 15px;
  margin: 0 .8rem 0 0;
  white-space: nowrap;
}

.radioTitle .bar {
  background-color: var(--green-principal);
  width: 100%;
  height: .5rem;
}

/* Radio online section */
.radioOnline .radioTextInfo {
  font-size: 14px;
  color: var(--green-principal);
}



/*************** BLOG PAGE  **************/
.blogNews.radio {
  padding-top: 1.5rem;
}

.blogNews .newsSection { 
  margin-top: 1.5rem;
}

.newsContainer {
  margin-bottom: 1.5rem;
}

.newsContainer figure, .newsContainer img {
  width: 100%;
  margin: 0;
}

.newsContainer .col:first-child {
  padding-right: 5px;
}

.newsContainer .col:last-child {
  padding-left: 5px;
}

.blogNews .newTitle {
  color: var(--green-principal);
  font-size: 16px;
}

.blogNews .newText {
  font-size: 10px;
}

.sidebarVideo {
  width: 230px;
}

.sidebarVideo .titleCaption h5 {
  font-size: 16px;
}

/* Media queries */
@media (max-width: 992px) {
  .radio .social .col-8 {
    flex: 3;
    max-width: 100%;
  }

  .radio .social .socialItems {
    width: 230px;
  }
}

@media (max-width: 768px)  {
  .img-logo {
    width: 180px;
  }

  .header.radio .col-sm-auto:first-child {
    margin-bottom: 10px;
  }

  .controlsRadio {
    width: 45px;
    height: 43px;
  }

  .navbar.radio .container .nav-pills a {
    font-size: 12px;
  }

  .radio .social {
    display: flex;
    flex-direction: column;
  }

  .radio .social .sidebar {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .radioTitle .title {
    font-size: 13px;
  }

  .radioTitle .bar {
    height: .3rem;
  }

  .newsContainer .newsDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .titleCaption h5 {
    font-size: 17px;
  }
 
  .row.newsContainer, .col.radioTitle {
    padding: 0 5%;
  }

  .row.newsContainer .figure {
    margin-bottom: .5rem;
  }

  .radioTitle .col{
    padding: 0 5%;
  }
}

@media (max-width: 576px)  {
  .dm-none {
    display: none !important;
  } 

  .navbar.radio .container {
    padding: 0;
    justify-content: center;
  }

  .navbar.radio .container .nav-pills {
    width: 100%;
    text-align: center;
  }

  .newsCarousel.radio {
    padding: 1.5rem 0;

  }

  #carouselNewsInfo .carousel-caption {
    padding: 15px .5rem .3rem;
  }

  #carouselNewsInfo .newsTag h6 {
    font-size: 10px;
  }

  #carouselNewsInfo .carousel-caption h5 {
    font-size: 15px;
  }

  #carouselNewsInfo .carousel-caption p {
    font-size: 10px;
  }

  #carouselNewsInfo .carousel-control-prev {
    right: 36px;
  }

  #carouselNewsInfo a {
    padding: .3rem;
  }

  .lastNews.radio {
    padding-top: 1rem;
  }

  .lastNews.radio .newsHeader{
    margin-bottom: .8rem;
  }

  .lastNews.radio .newsHeader h4 {
    font-size: 18px;
  }

  .lastNews.radio .newsHeader .lastNewsBtn {
    font-size: 12px;
    padding: .3rem .5rem;
  }

  .lastNews.radio #lastNewsCarousel li{
    width: 13px;
    height: 13px;
  }

  #carouselTrending .carousel-item .trendingItem > * {
    height: 16rem;
  }

  #carouselTrending .carousel-item .carousel-caption h5 {
    font-size: 16px;
  }

  footer {
    padding: 1.5rem 1rem;
  }

  footer h6 {
    font-size: 10px;
  }

  .radioTitle .title {
    font-size: 12px;
  }

  .row.newsContainer {
    display: flex;
    flex-direction: column;
  }
  .newsContainer .col:first-child, .newsContainer .col:last-child {
    padding: 0;
  }

  #radioPlayer {
    padding: 1rem 2rem;
  }
}
